<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <title>Алтын медальдар тарихы</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container">
        <h1>🏆 Біздің үздіктер</h1>
        
        <p>Біздің мектептің тарихында спортшыларымыз түрлі деңгейдегі жарыстарда 150-ден астам алтын медальға ие болды. Бұл тек сандар ғана емес, бұл – қажырлы еңбек пен төгілген тердің нәтижесі.</p>

        <h2>Соңғы жылдардағы үздік көрсеткіштер</h2>
        
        <div class="table-wrapper">
            <table class="styled-table">
                <thead>
                <tr>
                    <th>Спортшы</th>
                    <th>Спорт түрі</th>
                    <th>Жарыс атауы</th>
                    <th>Өткен уақыты</th>
                    <th>Өткен жері</th>
                    <th>Алған орны</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Горичева Карина</td>
                    <td>Ауыр атлетика</td>
                    <td>2016 жылғы жазғы Олимпиада ойындары</td>
                    <td>06-16.08.2016</td>
                    <td>Бразилия мемлекеті Рио-де-Жанейро қаласы</td>
                    <td>3 орын</td>
                </tr>
                <tr>
                    <td>Ратова Айман</td>
                    <td>Жеңіл атлетика</td>
                    <td>2016 жылғы жазғы Олимпиада ойындары.</td>
                    <td>12-21.08.2016</td>
                    <td>Бразилия мемлекеті Рио-де-Жанейро қаласы</td>
                    <td>қатысушы</td>
                </tr>
                <tr>
                    <td>Ганькин Денис</td>
                    <td>Садақ ату</td>
                    <td>2020 жылғы жазғы Олимпиада ойындары <br></td>
                    <td>23-31.07.2021 <br></td>
                    <td>Ұлыбритания мемлекеті Лондон қаласы.</td>
                    <td>қатысушы</td>
                </tr>
                <tr>
                    <td>Берліқаш Камила</td>
                    <td>Дзюдо</td>
                    <td>2024 жылғы  жазғы Олимпиада ойындары</td>
                    <td>27.06-03.08.2024</td>
                    <td>Франция мемлекеті Париж қ.</td>
                    <td>қатысушы</td>
                </tr>
                <tr>
                    <td>Жаңбырбай Дәулеткелді</td>
                    <td>Садақ ату</td>
                    <td>2024 жылғы  жазғы Олимпиада ойындары</td>
                    <td>25.07-04.08.2024</td>
                    <td>Франция мемлекеті Париж қ.</td>
                    <td>қатысушы</td>
                </tr>
                <tr>
                    <td>Абдуллин Ильфат</td>
                    <td>Садақ ату</td>
                    <td>2024 жылғы  жазғы Олимпиада ойындары</td>
                    <td>25.07-04.08.2024</td>
                    <td>Франция мемлекеті Париж қ.</td>
                    <td>қатысушы</td>
                </tr>
                <tr>
                    <td>Федоров Евгений</td>
                    <td>Велосипед спорты</td>
                    <td>2024 жылғы  жазғы Олимпиада ойындары </td>
                    <td>05-07.08.2024</td>
                    <td>Франция мемлекеті Париж қ.</td>
                    <td>қатысушы</td>
                </tr>
                <tr>
                    <td>Сыдық Аяжан</td>
                    <td>Бокс</td>
                    <td>Жасөспірімдер арасында Әлем чемпионаты</td>
                    <td>Желтоқсан 2023</td>
                    <td>Армения мемлекеті Ереван қаласы</td>
                    <td>Ереван қаласы 1 орын</td>
                </tr>
                <tr>
                    <td>Егінбайқызы Құралай</td>
                    <td>Бокс</td>
                    <td>Жастар арасында Азия чемпионаты</td>
                    <td>2025</td>
                    <td>Коломбо мемлекеті Шри-ланка қаласы</td>
                    <td>2 дүркін чемпионы</td>
                </tr>
                <tr>
                    <td>Тұрсынбек Анар</td>
                    <td>Бокс</td>
                    <td>22 жасқа дейінгі әйелдер арасында Азия чемпионаты</td>
                    <td>24.04-10.05.2024</td>
                    <td>Астана қаласы</td>
                    <td>2 орын</td>
                </tr>
                <tr>
                    <td>Берікбай Диас</td>
                    <td>Бокс</td>
                    <td>Жастар арасында Әлем Чемпионаты</td>
                    <td>Қазан 2024</td>
                    <td>Черногорье, Будва қаласы</td>
                    <td>3 орын</td>
                </tr>
                <tr>
                    <td>Құмарбеков Нұрхан </td>
                    <td>Бокс</td>
                    <td>Жастар арасында АзияЧемпионаты </td>
                    <td>Мамыр 2025</td>
                    <td>Коломбо мемлекеті Шри-ланка қаласы</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Биболсынқызы Сила</td>
                    <td>Бокс</td>
                    <td>Жастар арасында АзияЧемпионаты </td>
                    <td>Мамыр 2025</td>
                    <td>Коломбо мемлекеті </td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Қабдунасаров Ғалым</td>
                    <td>Грек-рим күресі</td>
                    <td>Грек-рим күресінен ересектер арасында Азия чемпионаты </td>
                    <td>2023</td>
                    <td>Иордания, Аман</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Кузьмин Антон</td>
                    <td>Велосипед спорты</td>
                    <td>Велосипед спортынан Азия чемпионаты</td>
                    <td>2025 </td>
                    <td>Тайланд мемлекеті Пхитсанулоке</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Сергиенко Денис</td>
                    <td>Велосипед спорты</td>
                    <td>Велосипед спортынан Азия чемпионаты</td>
                    <td>2025</td>
                    <td>Қытай мемлекеті</td>
                    <td>2 дүркін күміс жүлдегері</td>
                </tr>
                <tr>
                    <td>Жеңісұлы Қайрат</td>
                    <td>Дзюдо</td>
                    <td>Дзюдодан жастар арасында Азия Чемпионаты</td>
                    <td>2025</td>
                    <td>Индонезия мемлекеті, Джакарта қаласы</td>
                    <td>2 орын</td>
                </tr>
                <tr>
                    <td>Христич Сергей</td>
                    <td>Садақ ату</td>
                    <td>Азия чемпионаты </td>
                    <td>Қараша 2023</td>
                    <td>Тайланд, Банкок</td>
                    <td>2 орын командалық есеп</td>
                </tr>
                <tr>
                    <td>Чжан Игорь</td>
                    <td>Велосипед спорты</td>
                    <td>Азия чемпионаты</td>
                    <td>2022</td>
                    <td>Душанбе</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Құрманбек Ақжол </td>
                    <td>Ауыр атлетика</td>
                    <td>Жасөспірімдер арасында Азия чемпионаты</td>
                    <td>Желтоқсан 2024</td>
                    <td>Катар, Доха қаласы</td>
                    <td>3 әлемдік 3 азиялық рекорд орнатты</td>
                </tr>
                <tr>
                    <td>Әскербай Әлихан</td>
                    <td>Ауыр атлетика</td>
                    <td>Жасөспірімдер арасында Азия чемпионаты</td>
                    <td>Шілде 2025</td>
                    <td>Астана қаласы</td>
                    <td>3 әлемдік 3 азиялық рекорд орнатты</td>
                </tr>
                <tr>
                    <td>Ақмолда Сайрамкез </td>
                    <td>Ауыр атлетика</td>
                    <td>Ересектер арасында Азия Чемпионаты</td>
                    <td>Ақпан 2024</td>
                    <td>Ташкент, Өзбекстан</td>
                    <td>2 орын</td>
                </tr>

                <tr>
                    <td>Зейноллаева Аружан</td>
                    <td>Бокс</td>
                    <td>Жастар арасында Әлем Чемпионаты </td>
                    <td>Қазан 2024</td>
                    <td>Черногорье, Будва қаласы</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Кален Диас</td>
                    <td>Грек-рим күресі</td>
                    <td>Грек-рим күресінен ересектер арасында Азия чемпионаты </td>
                    <td>07-10.2023</td>
                    <td>Астана қаласы</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Курбаев Исхар</td>
                    <td>Грек-рим күресі</td>
                    <td>Грек-рим күресінен U-23 жасқа дейінгі ересектер арасында Азия чемпионаты </td>
                    <td>Маусым 2025 </td>
                    <td>Въетнам мемлекеті, Вунг-Тау қаласы</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Жеңіс Ерасыл</td>
                    <td>Грек-рим күресі</td>
                    <td>Грек-рим күресінен U-20 жасқа дейінгі жастар арасында Азия чемпионаты </td>
                    <td>Шілде 2024</td>
                    <td>Тайланд мемлекеті, Сирача қаласы</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Ақан Дамир</td>
                    <td>Грек-рим күресі</td>
                    <td>Грек-рим күресінен U-17 жасқа дейінгі юниорлар арасында Азия чемпионаты </td>
                    <td>Маусым 2025 </td>
                    <td>Въетнам мемлекеті, Вунг-Тау қаласы</td>
                    <td>1 орын</td>
                </tr>
                <tr>
                    <td>Қанағатбек Данияр </td>
                    <td>Грек-рим күресі</td>
                    <td>Грек-рим күресінен U-17 жасқа дейінгі юниорлар арасында Азия чемпионаты </td>
                    <td>Маусым 2024</td>
                    <td>Иордания мемлекеті, Аман қаласы</td>
                    <td>3 орын</td>
                </tr>
                <tr>
                    <td>Үкіметұлы Мықтыбек</td>
                    <td>Еркін күресі</td>
                    <td>Жастар арасында Азия Чемпионаты</td>
                    <td>2024</td>
                    <td>Тайланд мемлекеті Сирача қаласы</td>
                    <td>3 орын</td>
                </tr>
                <tr>
                    <td>Мұхтарұлы Ерасыл</td>
                    <td>Еркін күресі</td>
                    <td>23 жасқа дейінгі ересектер арасында Азия Чемпионаты</td>
                    <td>Шілде 2023</td>
                    <td>Иордания, Аман</td>
                    <td>2 орын</td>
                </tr>
                <tr>
                    <td>Курбанов Акбар</td>
                    <td>Еркін күресі</td>
                    <td>23 жасқа дейінгі ересектер арасында Азия Чемпионаты</td>
                    <td>2023</td>
                    <td>Иордания, Аман</td>
                    <td>3 орын</td>
                </tr>
                <tr>
                    <td>Айтбеков Әкежан </td>
                    <td>Еркін күресі</td>
                    <td>23 жасқа дейінгі ересектер арасында Азия Чемпионаты</td>
                    <td>Маусым 2024</td>
                    <td>Иордания, Аман</td>
                    <td>2 орын</td>
                </tr>
                <tr>
                    <td>Жаңабек Есенбол</td>
                    <td>Велосипед спорты</td>
                    <td>Азия чемпионаты</td>
                    <td>Қыркүйек 2023</td>
                    <td>БӘА Дубай қаласы</td>
                    <td>2 орын</td>
                </tr>
                <tr>
                    <td>Орманғали Данияр</td>
                    <td>Велосипед спорты</td>
                    <td>Азия чемпионаты</td>
                    <td>Қыркүйек 2023</td>
                    <td>БӘА Дубай қаласы</td>
                    <td>2 орын</td>
                </tr>
                
                </tbody>
            </table>
        </div>

        <h2>Жетістіктер статистикасы</h2>
        <ul class="feature-list">
            <li><strong>2020-2025 жж:</strong> 85 Алтын медаль</li>
        </ul>

        <a href="../index.html" class="back-btn">⬅ Басты бетке оралу</a>
    </div>

</body>
</html>