<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Басқару Панелі</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<div id="login-section" class="login-container">
    <form class="login-box" action=/api/auth/login method="POST">
        <h2>Жүйеге кіру</h2>
        <input type="text" id="username" name="username" placeholder="Логин">
        <input type="password" id="password" name="password" placeholder="Құпия сөз">
        <button type="submit" class="cta-btn">Кіру</button>
        <p id="login-error" style="color:red; display:none;">Қате!</p>
        <a href="/" class="back-link">← Сайтқа қайту</a>
    </div>
</div>
