<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Selection</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<header class="navbar">
    <div class="logo"><h1>SPORT<span>sport</span></h1></div>
    <div class="lang-switch">
        <button onclick="toggleLangDash()" id="langBtnDash">KZ / RU</button>
        <form action="api/auth/logout" method="POST">
          <button >logout</button>
        </form>
    </div>
</header>
